:root {
  --bg-color: #1c1e26;
  --main-color: #fe5e78;
  --caret-color: #9ad479;
  --sub-color: #25b0bc;
  --sub-alt-color: #1c5358;
  --text-color: #d5d8da;
  --error-color: #df3333;
  --error-extra-color: #6d1f1f;
  --colorful-error-color: #df3333;
  --colorful-error-extra-color: #6d1f1f;
}
